<!-- Why Choose Us Start -->
<section class="section" id="services">
  <div class="container">
    <p class="font-weight-medium text-uppercase mb-2"><i
      class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i>Services</p>
  <h3 class="font-weight-semibold line-height-1_4 mb-4">Nos services <b>Offerts</b><b></b>.</h3>
    <div class="row align-items-center">
    
      <div class="col">
        <div class="row">
          <div class="col-lg-4">
            <div class="blog-box mb-4 mb-lg-0">
              <img src="" alt="" class="img-fluid d-block mx-auto rounded">
              <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
               
                <li class="list-inline-item">
                  <i-feather class="icon-size-15 icon mr-1" name="user"></i-feather>
                </li>
              </ul>
              <a href="javascript: void(0);" class="text-dark font-weight-bold h5">SK Consulting</a>
              <p class="text-muted font-size-15">Integer ante arcu accumsan a consectetuer eget posuere mauris praesent
                adipiscing phasellus ullamcorper ipsum rutrum punc.</p>
              <a href="javascript: void(0);" class="text-primary font-weight-semibold" href="/service1">Plus<span
                  class="ml-2 right-icon">&#8594;</span></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-box blog-box mb-4 mb-lg-0">
              <img src="" alt="" class="img-fluid d-block mx-auto rounded">
              <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
             
                <li class="list-inline-item">
                  <i-feather class="icon-size-15 icon mr-1" name="user"></i-feather>
                </li>
              </ul>
              <a href="javascript: void(0);" class="text-dark font-weight-bold h5">SK Digital Engineering</a>
              <p class="text-muted font-size-15">Integer ante arcu accumsan a consectetuer eget posuere mauris praesent
                adipiscing phasellus ullamcorper ipsum rutrum punc.</p>
              <a href="javascript: void(0);" class="text-primary font-weight-semibold" href="/service2">Plus<span
                  class="ml-2 right-icon">&#8594;</span></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-box blog-box mb-4 mb-lg-0">
              <img src="" alt="" class="img-fluid d-block mx-auto rounded">
              <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
             
                <li class="list-inline-item">
                  <i-feather class="icon-size-15 icon mr-1" name="user"></i-feather>
                </li>
              </ul>
              <a href="javascript: void(0);" class="text-dark font-weight-bold h5">SK Print</a>
              <p class="text-muted font-size-15">Integer ante arcu accumsan a consectetuer eget posuere mauris praesent
                adipiscing phasellus ullamcorper ipsum rutrum punc.</p>
              <a href="javascript: void(0);" class="text-primary font-weight-semibold" href="/service3">Plus<span
                  class="ml-2 right-icon">&#8594;</span></a>
            </div>
          </div>
        </div>
        <br><br>
        <div class="row">
          <div class="col-lg-4">
            <div class="blog-box mb-4 mb-lg-0">
              <img src="" alt="" class="img-fluid d-block mx-auto rounded">
              <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
            
                <li class="list-inline-item">
                  <i-feather class="icon-size-15 icon mr-1" name="user"></i-feather>
                </li>
              </ul>
              <a href="javascript: void(0);" class="text-dark font-weight-bold h5">SK Edition</a>
              <p class="text-muted font-size-15">Integer ante arcu accumsan a consectetuer eget posuere mauris praesent
                adipiscing phasellus ullamcorper ipsum rutrum punc.</p>
              <a href="javascript: void(0);" class="text-primary font-weight-semibold" href="/service4">Plus<span
                  class="ml-2 right-icon">&#8594;</span></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-box blog-box mb-4 mb-lg-0">
              <img src="" alt="" class="img-fluid d-block mx-auto rounded">
              <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
              
                <li class="list-inline-item">
                  <i-feather class="icon-size-15 icon mr-1" name="user"></i-feather>
                </li>
              </ul>
              <a href="javascript: void(0);" class="text-dark font-weight-bold h5">SK Events</a>
              <p class="text-muted font-size-15">Integer ante arcu accumsan a consectetuer eget posuere mauris praesent
                adipiscing phasellus ullamcorper ipsum rutrum punc.</p>
              <a href="javascript: void(0);" class="text-primary font-weight-semibold" href="/service5">Plus<span
                  class="ml-2 right-icon">&#8594;</span></a>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-box blog-box mb-4 mb-lg-0">
              <img src="" alt="" class="img-fluid d-block mx-auto rounded">
              <ul class="list-inline text-muted text-uppercase font-size-15 font-weight-medium mt-3 mb-2">
              
                <li class="list-inline-item">
                  <i-feather class="icon-size-15 icon mr-1" name="user"></i-feather>
                </li>
              </ul>
              <a href="javascript: void(0);" class="text-dark font-weight-bold h5">SK Advertising</a>
              <p class="text-muted font-size-15">Integer ante arcu accumsan a consectetuer eget posuere mauris praesent
                adipiscing phasellus ullamcorper ipsum rutrum punc.</p>
              <a href="javascript: void(0);" class="text-primary font-weight-semibold" href="/service6">Plus<span
                  class="ml-2 right-icon">&#8594;</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Choose Us End -->
