<!-- Why Choose Us Start -->
<section class="section" id="services">
  <div class="container">
    <p class="font-weight-medium text-uppercase mb-2"><i
      class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i>Services</p>
  <h3 class="font-weight-semibold line-height-1_4 mb-4">Nos services <b>Offerts</b><b></b>.</h3>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-6">
            <div class="wc-box rounded text-center wc-box-primary p-4">
              <div class="wc-box-icon">
                <i class="mdi mdi-collage"></i>
              </div>
              <h5 class="font-weight-bold mb-2 wc-title mt-4">Service 1</h5>
              <p class="text-muted mb-0 font-size-15 wc-subtitle">Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem.</p>
                <a href="javascript: void(0);" class="text mb-0 font-size-15 wc-subtitle" href="/service1">Plus<span
                  class="ml-2 right-icon">&#8594;</span></a>
            </div>
            <div class="wc-box rounded text-center wc-box-primary p-4">
              <div class="wc-box-icon">
                <i class="mdi mdi-trending-up"></i>
              </div>
              <h5 class="font-weight-bold mb-2 wc-title mt-4">Service 5</h5>
              <p class="text-muted mb-0 font-size-15 wc-subtitle">Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem.</p>
                <a href="javascript: void(0);" class="text mb-0 font-size-15 wc-subtitle" href="/service5">Plus<span
                  class="ml-2 right-icon">&#8594;</span></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="wc-box rounded text-center wc-box-primary p-4">
              <div class="wc-box-icon">
                <i class="mdi mdi-security"></i>
              </div>
              <h5 class="font-weight-bold mb-2 wc-title mt-4">Service 2</h5>
              <p class="text-muted mb-0 font-size-15 wc-subtitle">Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem.</p>
                <a href="javascript: void(0);" class="text mb-0 font-size-15 wc-subtitle" href="/service2">Plus<span
                  class="ml-2 right-icon">&#8594;</span></a>
            </div>
            <div class="wc-box rounded text-center wc-box-primary p-4">
              <div class="wc-box-icon">
                <i class="mdi mdi-database-lock"></i>
              </div>
              <h5 class="font-weight-bold mb-2 wc-title mt-4">Service 6</h5>
              <p class="text-muted mb-0 font-size-15 wc-subtitle">Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem.</p>
                <a href="javascript: void(0);" class="text mb-0 font-size-15 wc-subtitle" href="/service6">Plus<span
                  class="ml-2 right-icon">&#8594;</span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-6">
            <div class="wc-box rounded text-center wc-box-primary p-4">
              <div class="wc-box-icon">
                <i class="mdi mdi-collage"></i>
              </div>
              <h5 class="font-weight-bold mb-2 wc-title mt-4">Service 3</h5>
              <p class="text-muted mb-0 font-size-15 wc-subtitle">Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem.</p>
                <a href="javascript: void(0);" class="text mb-0 font-size-15 wc-subtitle" href="/service3">Plus<span
                  class="ml-2 right-icon">&#8594;</span></a>
            </div>
            <div class="wc-box rounded text-center wc-box-primary p-4">
              <div class="wc-box-icon">
                <i class="mdi mdi-trending-up"></i>
              </div>
              <h5 class="font-weight-bold mb-2 wc-title mt-4">Service 7</h5>
              <p class="text-muted mb-0 font-size-15 wc-subtitle">Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem.</p>
                <a href="javascript: void(0);" class="text mb-0 font-size-15 wc-subtitle" href="/service7">Plus<span
                  class="ml-2 right-icon">&#8594;</span></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="wc-box rounded text-center wc-box-primary p-4">
              <div class="wc-box-icon">
                <i class="mdi mdi-security"></i>
              </div>
              <h5 class="font-weight-bold mb-2 wc-title mt-4">Service 4</h5>
              <p class="text-muted mb-0 font-size-15 wc-subtitle">Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem.</p>
                <a href="javascript: void(0);" class="text mb-0 font-size-15 wc-subtitle" href="/service4">Plus<span
                  class="ml-2 right-icon">&#8594;</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Why Choose Us End -->
