<nav class="navbar navbar-expand-lg " id="navbar">
  <div class="container">
    <!-- LOGO -->
    <a class="navbar-brand logo" href="/">
      <img src="assets/st.jpg" alt="" class="logo-dark" height="45" /> 
    </a>
    <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" href="/">
      <i class="mdi mdi-home" ></i>
  </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
        
      </ul>
      <ul class="navbar-nav navbar-center">
   
      </ul>
    </div>
  </div>
  </nav>
 <section class="section bg-light feather-bg-img" style="background-image: url(assets/images/features-bg-img.png);">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h3 class="title mb-3">SK Edition</h3>
          <p class="text-muted font-size-15">Et harum quidem rerum facilis est et expedita distinctio nam libero
            tempore cum soluta nobis eligendi cumque.</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="mb-4 mb-lg-0">
          <img src="assets/images/features-img.png" alt="" class="img-fluid d-block mx-auto">
        </div>
      </div>

      <div class="col-lg-5 offset-lg-1">
        <p class="font-weight-medium text-uppercase mb-2"><i
            class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i>Details</p>
        <h3 class="font-weight-semibold line-height-1_4 mb-4">Build <b>community</b> & <b>conversion</b> with our
          suite of <b>social tool</b></h3>
        <p class="text-muted font-size-15 mb-4">Temporibus autem quibusdam et aut officiis debitis aut rerum a
          necessitatibus saepe eveniet ut et voluptates repudiandae sint molestiae non recusandae itaque.</p>
        <p class="text-muted mb-2">
          <i-feather class="icon-xs mr-1" name="layout"></i-feather> Donec pede justo fringilla vel
          nec.
        </p>
        <p class="text-muted">
          <i-feather class="icon-xs mr-1" name="life-buoy"></i-feather> Cras ultricies mi eu turpis
          hendrerit fringilla.
        </p>
    
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>